#app,body,html{
	height:   100%;
	overflow: hidden;  /*超出内容会被修剪并且不可见*/
}

body,html{
	cursor:  default;  /*设置默认光标*/
	margin:  0;        /*外边距上下左右都为0*/
	padding: 0;        /*内边距上下左右都为0*/
}

body,button,input{
	font-size: 13px;
}

body{
	display: block;    /*独占一行*/
}

html{
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft Yahei,Wenquanyi Micro Hei,sans-serif;
}


@media only screen and (max-width: 1024px)
{
	.head_index .head_inside{
		padding: 0 1.5rem;
		box-sizing: border-box;
		-moz-box-sizing:border-box; /* Firefox */
		-webkit-box-sizing:border-box; /* Safari */
	}
}                      /*只针对电脑以及智能手机，当屏幕横向尺寸小于1024px时执行*/

header{
	display: block;
}

.head_index{
	position: absolute;
	width: 100%;
	height: 40px;
	right: 0;
	left:  0;
	position: absolute;
	background: rgba(0,0,0,.4);
	z-index: 1;
}

.head_index .head_inside{
	position: absolute;
	max-width: 1024px;
	width: 100%;
	top: 11px;
	left: 50%;
	-webkit-transform: translateX(-50%); /*x轴，向左平移50%*/
	transform: translateX(-50%);
	z-index: 1;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;  /*采用弹性盒子模型 Flexible Box Model*/
	-webkit-box-pack: justify; /*在每个子元素之间分割多余的空间（首个子元素前和最后一个子元素后没有多余的空间）*/
	-ms-flex-pack:justify;
	justify-content: space-between; /*项目位于各行之间留有空白的容器内,左右两边不留白，紧贴*/
	-webkit-box-align: center; 	/*均等地分割多余的空间，一半位于子元素之上，另一半位于子元素之下。*/
	-ms-flex-align: center;
	align-items: center; /*元素位于容器的中心。*/
}

.head_title, .head_title a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

a:-webkit-any-link{
	color: -webkit-link;
	cursor: pointer;
}

a{
	color: inherit;
	text-decoration: none;
}

.head_title a{
	color: #fff;
}

img{
	max-width: 100%;
}

.head_title a img{
	width: 15px;
	height: 15px;
	margin-right: .5rem;
	vertical-align: middle; /*把此元素放置在父元素的中部*/
}

.head_title_two{
	margin-left: .5rem; 
}










